@import './quasar.variables.sass'
// @import '~quasar-addon-styl'

.q-notification.custom-notification
  background-color: #EDF5FF
  border-left-width: 3px
  border-left-style: groove
  border-left-color:#0242CE
  color: #2F60AC !important

.q-notification.custom-notification .q-notification__message
  font-weight:600 !important
  font-size:15px !important

.q-notification.custom-notification .q-notification__caption
    padding-top:10px !important
    opacity:0.9
    max-width: 255px
    text-align: justify

.q-notification.custom-notification .q-notification__icon
    margin-right: 15px
    margin-top: -53px

.q-notification.retry-button .q-notification__actions 
    background-color: aquamarine
