[Unit]
Description=LicenseChecker license engine
After=fossology.service
Requires=fossology.service

[Container]
# Set TAGENGINE in an EnvironmentFile or substitute before deployment
Image=cr.tik.uni-stuttgart.de/izus-darus/license-checker/engine:${TAGENGINE}
ContainerName=engine
Network=host
Environment=FOSSOLOGY_ENDPOINT_BASE_PATH=http://localhost:7100
Volume=licenseenginedata.volume:/licenseengine/tmp:rw

[Service]
EnvironmentFile=/home/podmanuser/.config/containers/systemd/LicenseChecker/.env
NoNewPrivileges=yes
DeviceAllow=/dev/null rw
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
RestartSec=10s
Restart=always

[Install]
WantedBy=default.target
