[Unit]
Description=FOSSology license scanner
After=postgres-container.service
Requires=postgres-container.service

[Container]
Image=docker.io/fossology/fossology:4.6.0
ContainerName=fossology
Environment=FOSSOLOGY_DB_HOST=db
Environment=FOSSOLOGY_DB_NAME=fossology
Environment=FOSSOLOGY_DB_USER=fossy
Environment=FOSSOLOGY_DB_PASSWORD=fossy
PublishPort=7100:80
Volume=repository.volume:/srv/fossology/repository/
Network=resus
HealthCmd=curl http://localhost/repo/api/v2/info
HealthInterval=10s
HealthStartPeriod=2s
HealthTimeout=3s

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
