[Unit]
Description=PostgreSQL database for FOSSology
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/postgres:16-alpine3.22
ContainerName=postgres
Environment=POSTGRES_DB=fossology
Environment=POSTGRES_USER=fossy
Environment=POSTGRES_PASSWORD=fossy
PublishPort=5432:5432
Volume=pg_data.volume:/var/lib/postgresql/data
Network=resus
HealthCmd=pg_isready --dbname fossology --username fossy
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=300

[Install]
WantedBy=default.target
